input {
  width: 40%;
  font-size: larger;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) > td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) > td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.scroll-button {
  z-index: 10;
  position: sticky;
  top: 0;
  font-size: larger;
  background-color: rgb(71, 169, 194);
  border-radius: 10px;
  cursor: pointer;
}